<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--Below is favicon info-->
    <!--Rainbow Favicon--
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/rainbow_favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/rainbow_favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/rainbow_favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/rainbow_favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/rainbow_favicon/safari-pinned-tab.svg" color="#049866">
    <link rel="shortcut icon" href="/assets/rainbow_favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/assets/rainbow_favicon/browserconfig.xml">
    <meta name="theme-color" content="#049866">
    <!--Normal favicon-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png?v=69Ppe5dE7L">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png?v=69Ppe5dE7L">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png?v=69Ppe5dE7L">
    <link rel="manifest" href="/assets/favicon/site.webmanifest?v=69Ppe5dE7L">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=69Ppe5dE7L" color="#049566">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=69Ppe5dE7L">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=69Ppe5dE7L">
    <meta name="theme-color" content="#049866">
    <!----
    <script src="//cdnjs.cloudflare.com/ajax/libs/Snowstorm/20131208/snowstorm-min.js"></script>
    <script>
      snowStorm.excludeMobile = false;
      snowStorm.snowColor = '#fff'; //give the snowflakes another colour
      snowStorm.flakesMaxActive = 100; //the maximum number of active snow flakes on the screen, lowering this may increase performance
      snowStorm.followMouse = true; //the snow will fall in a certain direction based on the position of your mouse
      snowStorm.snowCharacter = '*'; //★ change the flake to a specific character
      snowStorm.snowStick = true; //if true, the snow will stick to the bottom of the screen
      snowStorm.animationInterval = 40; //milliseconds per frame, the higher the less CPU load
      snowStorm.freezeOnBlur = true; //recommended: stops the snow effect when the user switches to another tab or window
      snowStorm.usePositionFixed = true; //if the user scrolls, the snow is not affected by the window scroll. Disable to prevent extra CPU load
    </script>
    <!---->
{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <img src="/assets/img/4.0.png" width="50%" height="auto" />
      </div>
    </header>

    <div class="container">
      <section id="main_content" style="text-align:center">

      {{ content }}

      </section>
    </div>

  </body>

  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/5.1.0/firebase-database.js"></script>
  <script src="/assets/js/firebase.js"></script>
  <script src="/assets/js/collapsible.js"></script>

</html>
