<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <!--Below is favicon info-->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/rainbow_favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/rainbow_favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/rainbow_favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/rainbow_favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/rainbow_favicons/safari-pinned-tab.svg" color="#049866">
    <link rel="shortcut icon" href="/assets/rainbow_favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/assets/rainbow_favicons/browserconfig.xml">
    <meta name="theme-color" content="#000000">
    <!--Normal favicon-->
    <!--
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png?v=69Ppe5dE7L">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png?v=69Ppe5dE7L">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png?v=69Ppe5dE7L">
    <link rel="manifest" href="/assets/favicons/site.webmanifest?v=69Ppe5dE7L">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg?v=69Ppe5dE7L" color="#049566">
    <link rel="shortcut icon" href="/assets/favicons/favicon.ico?v=69Ppe5dE7L">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml?v=69Ppe5dE7L">
    <meta name="theme-color" content="#049866">
    -->

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <img src="/assets/img/rainbow4.0.png" width="50%" height="auto" />
      </div>
    </header>

    <div class="container">
      <section id="main_content" style="text-align:center">

      {{ content }}

      </section>
    </div>

  </body>
  <script src="/assets/js/collapsible.js"></script>
</html>
